# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects
PyYAML==3.10
UnittestZero
certifi==0.0.8
chardet==2.1.1
execnet==1.1
oauthlib==0.5.1
py==1.4.15
pyasn1==0.1.7
pytest==2.3.5
pytest-mozwebqa==1.1.1
pytest-xdist==1.8
requests==1.2.3
rsa==3.1.1
selenium
-e git+https://github.com/mozilla/bidpom.git@master#egg=browserid 
