# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

selenium
py==1.4.7
pytest==2.2.3
pytest-xdist==1.8
PyYAML==3.10
execnet==1.0.9
BeautifulSoup==3.2.0
pytest-mozwebqa==0.10
UnittestZero
requests==0.11.2